[submodule "modules/augeas"]
	path = modules/augeas
	url = http://github.com/camptocamp/puppet-augeas.git
[submodule "modules/apache"]
	path = modules/apache
	url = http://github.com/efroese/puppet-apache.git
[submodule "modules/common"]
	path = modules/common
	url = https://github.com/camptocamp/puppet-common.git
[submodule "modules/pacemaker"]
	path = modules/pacemaker
	url = http://github.com/efroese/puppet-pacemaker.git
[submodule "modules/oae"]
	path = modules/oae
	url = http://github.com/efroese/puppet-oae.git
[submodule "modules/tomcat6"]
	path = modules/tomcat6
	url = http://github.com/efroese/puppet-tomcat6.git
[submodule "modules/postgres"]
	path = modules/postgres
	url = http://github.com/efroese/puppet-postgres.git
[submodule "modules/nfs"]
	path = modules/nfs
	url = http://github.com/efroese/puppet-nfs.git
[submodule "modules/mysql"]
	path = modules/mysql
	url = http://github.com/efroese/puppet-mysql.git
[submodule "modules/shibboleth"]
	path = modules/shibboleth
	url = http://github.com/efroese/puppet-shibboleth.git
[submodule "modules/archive"]
	path = modules/archive
	url = http://github.com/efroese/puppet-archive.git
[submodule "modules/cle"]
	path = modules/cle
	url = http://github.com/efroese/puppet-cle.git
[submodule "modules/sendmail"]
	path = modules/sendmail
	url = http://github.com/efroese/puppet-sendmail.git
[submodule "modules/solr"]
	path = modules/solr
	url = http://github.com/efroese/puppet-solr.git
[submodule "modules/selinux"]
	path = modules/selinux
	url = http://github.com/camptocamp/puppet-selinux.git
[submodule "modules/nagios"]
	path = modules/nagios
	url = https://github.com/efroese/puppet-nagios.git
[submodule "modules/nrpe"]
	path = modules/nrpe
	url = https://github.com/jaredcurtis/puppet-nrpe.git
[submodule "modules/munin"]
	path = modules/munin
	url = http://github.com/efroese/puppet-munin.git
[submodule "modules/concat"]
	path = modules/concat
	url = https://github.com/duritong/puppet-concat.git
[submodule "modules/icinga"]
	path = modules/icinga
	url = http://github.com/efroese/puppet-icinga.git
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = http://github.com/puppetlabs/puppetlabs-stdlib.git
